<ion-header [translucent]="true">
  
    <ion-toolbar color="primary">
      <ion-grid>
        <ion-row>
          <ion-col size="5"><ion-icon size="40" name="menu-outline" style="font-size: 40px;"></ion-icon>
          </ion-col>
          <ion-col class="my-custom-col" size="7">Facebook</ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Listen Now
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="radio"></ion-icon>
        Radio
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="library"></ion-icon>
        Library
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">freind</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar search-icon="search-circle" placeholder="Search for friends"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-col size="2">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/img/park.jpeg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8"><p>Parkhyungseok</p></ion-col>
      <ion-col size="4">
        <ion-button>Add friend</ion-button>
      </ion-col>
    </ion-item>
  
    <ion-item>
      <ion-col size="2">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/img/vasco.jpeg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8"><p>Vasco_id</p></ion-col>
      <ion-col size="4">
        <ion-button>Add friend</ion-button>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="2">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/img/seojun.jpeg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8"><p>Han_Seojun</p></ion-col>
      <ion-col size="4">
        <ion-button>Accept</ion-button>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="2">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/img/seo.jpeg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8"><p>Lee_Suho</p></ion-col>
      <ion-col size="4">
        <ion-button>Accept</ion-button>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="2">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/img/toro.jpeg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8"><p>toro_M</p></ion-col>
      <ion-col size="4">
        <ion-button>Accept</ion-button>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="2">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/img/jang.jpeg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8"><p>janghyun_anak_satu</p></ion-col>
      <ion-col size="4">
        <ion-button>unfriend</ion-button>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="2">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/img/sho.jpeg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8"><p>sho_sayangibu</p></ion-col>
      <ion-col size="4">
        <ion-button>Add friend</ion-button>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="2">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/img/dg.jpeg" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8"><p>dg_papanatas</p></ion-col>
      <ion-col size="4">
        <ion-button>Accept</ion-button>
      </ion-col>
    </ion-item>

  </ion-list>
  
</ion-content>
