.toast{
    color: red;
    --background: rgb(79, 172, 201);
 
    
}
.button{
    color: white; 
    --background: rgb(6, 17, 20);

}
.content{
    --background: rgb(55, 73, 238);
    color: black;

}